{#-
  Override blog.html to add newsletter subscribe form after posts
-#}
{% extends "main.html" %}
{% block container %}
  <div class="md-content" data-md-component="content">
    <div class="md-content__inner">
      <header class="md-typeset">
        {{ page.content }}
      </header>
      {% for post in posts %}
        {% include "partials/post.html" %}
      {% endfor %}
      {% if pagination %}
        {% block pagination %}
          {% include "partials/pagination.html" %}
        {% endblock %}
      {% endif %}
      <aside class="rgr-subscribe" aria-label="Newsletter signup">
        <p class="rgr-subscribe__heading">Stay current on reconstruction-grade eDiscovery</p>
        <p class="rgr-subscribe__text">New posts and standards updates delivered to your inbox.</p>
        <form
          action="https://buttondown.com/api/emails/embed-subscribe/rgrstandard"
          method="post"
          class="rgr-subscribe__form"
        >
          <input
            type="email"
            name="email"
            id="bd-email"
            placeholder="you@example.com"
            required
            class="rgr-subscribe__input"
          />
          <button type="submit" class="rgr-subscribe__button">Subscribe</button>
        </form>
        <p class="rgr-subscribe__fine">No spam. Unsubscribe anytime.</p>
      </aside>
    </div>
  </div>
{% endblock %}
